<form class="container mt-3 needs-validation" action="/records/search">
  <div class="form-group row justify-content-between">

    {{!-- search bar --}}
    <div class="search col-md-auto my-1">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-secondary text-light" id="search-bar">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <input type="text" name="keyword" class="form-control" placeholder="搜尋名稱、類別" value="{{keyword}}"
          aria-label="keyword" aria-describedby="search-bar">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="submit" id="search-button">search</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form class="container  mt-n3 needs-validation" action="/records">
  <div class="form-group">
    {{!-- category filter --}}
    <div class="col-12 my-1  row justify-content-between">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text bg-secondary text-light" for="category">
            <i class="fas fa-filter"></i>
          </label>
        </div>
        <select class="custom-select" id="category" name="category" onchange="this.form.submit()">
          <option value="" {{#if (eq category '' )}} selected {{/if}}>全類別</option>
          <option value="家居物業" {{#if (eq category '家居物業' )}} selected {{/if}}>家居物業</option>
          <option value="交通出行" {{#if (eq category '交通出行' )}} selected {{/if}}>交通出行</option>
          <option value="休閒娛樂" {{#if (eq category '休閒娛樂' )}} selected {{/if}}>休閒娛樂</option>
          <option value="餐飲食品" {{#if (eq category '餐飲食品' )}} selected {{/if}}>餐飲食品</option>
          <option value="其他" {{#if (eq category '其他' )}} selected {{/if}}>其他</option>
        </select>

        <div class="input-group-prepend ml-3">
          <label class="input-group-text bg-secondary text-light" for="month">
            <i class="far fa-calendar-alt"></i>
          </label>
        </div>
        <select class="custom-select" id="month" name="month" onchange="this.form.submit()">
          <option value="" {{#if (eq month '' )}} selected {{/if}}>全月份</option>
          <option value="1" {{#if (eq month '1' )}} selected {{/if}}>1月</option>
          <option value="2" {{#if (eq month '2' )}} selected {{/if}}>2月</option>
          <option value="3" {{#if (eq month '3' )}} selected {{/if}}>3月</option>
          <option value="4" {{#if (eq month '4' )}} selected {{/if}}>4月</option>
          <option value="5" {{#if (eq month '5' )}} selected {{/if}}>5月</option>
          <option value="6" {{#if (eq month '6' )}} selected {{/if}}>6月</option>
          <option value="7" {{#if (eq month '7' )}} selected {{/if}}>7月</option>
          <option value="8" {{#if (eq month '8' )}} selected {{/if}}>8月</option>
          <option value="9" {{#if (eq month '9' )}} selected {{/if}}>9月</option>
          <option value="10" {{#if (eq month '10' )}} selected {{/if}}>10月</option>
          <option value="11" {{#if (eq month '11' )}} selected {{/if}}>11月</option>
          <option value="12" {{#if (eq month '12' )}} selected {{/if}}>12月</option>
        </select>
      </div>
    </div>
  </div>
</form>

<div class="container my-3">
  {{!-- Total amount --}}
  <div class="alert alert-info row" role="alert" id="total-amount">
    <big>總金額</big>
    <h1 class="total_amount col-10 text-center">{{totalAmount}}</h1>
  </div>

  {{!-- Record list --}}
  <ul class="list-group list-group-flush ml-3" id="record-list">
    {{#each records}}
    <li class="list-group-item list-group-item-action row d-flex">
      <div class="col-8 d-flex justify-content-between align-items-center">
        <div class="desc d-flex justify-content-between align-items-center">
          <h3 class="category mr-3 text-secondary">
            {{{ this.icon }}}
          </h3>
          <div class="detail">
            <h4 class="name mb-0">{{this.name}}</h4>
            <small class="date text-muted">{{this.date}}</small>
          </div>
        </div>
        <big class="amount">{{this.amount}}</big>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        {{!-- Edit Button --}}
        <a class="mr-2" href="/records/{{this._id}}/edit"><i class="far fa-edit"></i></a>

        {{!-- Delete Button trigger modal --}}
        <button type="button" style="border: none; background: transparent;" class="far fa-trash-alt text-danger"
          data-toggle="modal" data-target="#deleteModal-{{this._id}}">
        </button>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

{{!-- Delete Modal --}}
{{#each records}}
<div class="modal fade" id="deleteModal-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">確定要刪除 <strong>{{this.name}}</strong> 嗎？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">確認刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}